@{
    ViewData["Title"] = "Home Page";
}

<table class="table">
    <thead>
        <tr>
            <th>Account</th>
            <th>Account Name</th>
             <th>Symbol</th>
            <th>Price</th>
            <th>Quantity</th>
            
            <th>Trade Quantity</th>
            <th>Trade Market Value</th>
            <th>DV0</th>
        </tr>
    </thead>
    <tbody id="tableBody">

    </tbody>
</table>
